h1 {
  font-family: 'Roboto Light', sans-serif;
  font-weight: 400;
}

.cards {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 3rem;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem 0;
}
