<div class="container" style="margin-top: 3rem" *ngIf="cards">
  <app-form
    (addEmployer)="addEmployer($event)"
  ></app-form>

  <div class="cards">
    <app-card
      *ngFor="let card of cards"
      [card]="card"
      (remove)="removeEmployer(card.id)"
    ></app-card>
  </div>
</div>
<app-loader></app-loader>

