form {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

button {
  width: max-content;
}

input.right-align::-webkit-outer-spin-button,
input.right-align::-webkit-inner-spin-button {
  display: none;
}

input.right-align {
  -moz-appearance: textfield;
}

.right-align {
  text-align: right;
}


.btn-circle {
  width: 45px;
  height: 45px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hobby {
  max-width: 400px;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  position: relative;

  &__fields {
    display: flex;
    flex-direction: column;
    position: relative;

    button {
      transition: .4s;
      opacity: 0;
    }

    &:hover button {
      opacity: 1;
    }
  }

  button {
    margin-left: 1rem;
    position: absolute;
    bottom: 20px;
    right: -60px;
  }
}
