<form [formGroup]="form" (ngSubmit)="submit()">
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input type="text" matInput formControlName="firstName">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Last Name:</mat-label>
    <input matInput formControlName="lastName">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Birth Day:</mat-label>
    <input matInput [matDatepicker]="dp3" formControlName="dateOfBirth">
    <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
    <mat-datepicker #dp3 disabled="false"></mat-datepicker>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Your framework:</mat-label>
    <mat-select required formControlName="framework">
      <mat-option>--</mat-option>
      <mat-option *ngFor="let framework of frameworks" [value]="framework">
        {{framework.name | titlecase}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="false">Please choose an animal</mat-error>
<!--    <mat-hint>{{animalControl.value?.sound}}</mat-hint>-->
  </mat-form-field>
  <mat-form-field appearance="fill" *ngIf="form.get('framework').value">
    <mat-label>Your framework version:</mat-label>
    <mat-select required formControlName="frameworkVersion">
      <mat-option>--</mat-option>
      <mat-option *ngFor="let version of versions" [value]="version">
        {{version | titlecase}}
      </mat-option>
    </mat-select>
    <mat-error
      *ngIf="form.get('frameworkVersion').invalid && form.get('frameworkVersion').touched"
    >Please choose a framework</mat-error>
    <!--    <mat-hint>{{animalControl.value?.sound}}</mat-hint>-->
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Email:</mat-label>
    <input matInput formControlName="email">
    <mat-error
      *ngIf="form.get('email').errors?.emailIsExists"
    >
      Такой email уже существует.
    </mat-error>
  </mat-form-field>
  <div class="hobby" formArrayName="hobby">
    <label class="hobby__fields" *ngFor="let hb of hobbies; let idx = index" [formGroup]="hb">
      <mat-form-field appearance="fill">
        <mat-label>Hobbies name:</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Hobbies duration:</mat-label>
        <input matInput type="number" class="right-align" placeholder="1" formControlName="duration">
        <span matSuffix style="margin-left: 5px">month</span>
      </mat-form-field>
      <button type="button" mat-fab color="primary" class="btn-circle" (click)="removeHobby(idx)">
        <mat-icon aria-label="add circle icon">remove</mat-icon>
      </button>
    </label>
    <div>
      <button type="button" mat-fab color="primary" class="btn-circle" (click)="addHobby()">
        <mat-icon aria-label="add circle icon">add</mat-icon>
      </button>
    </div>
  </div>
  <button
    type="submit"
    mat-raised-button
    [disabled]="form.invalid"
  >Submit form</button>
</form>
